/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: white !important;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: white;
}

.mat-radio-outer-circle {
  border-color: white !important;
}
